/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
#/config/*.secret.exs
/.elixir_ls


#terraform
**/.terraform/*
*.tfstate
*.tfstate.*

crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json
